#home {
    background: url('./img/iStock963459054.jpg'); /* no-repeat center center fixed;*/
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  }
  